{% extends 'layout.html' %}

{% block content %}

<section class="about" id="hid">
    <h2 class="text-center my-5">All Course Details</h2>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Course Title</th>
            <th scope="col">Course Type</th>
            <th scope="col">Credits</th>
        </tr>
        </thead>
        <tbody>
            {% for course in allCourses %}
            <tr>
                <th scope="row">{{course.course_id}}</th>
                <td>{{course.title}}</td>
                <td>{{course.course_type}}</td>
                <td>{{course.credit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<hr class="hr">

<section class="about">
    <h2 class="text-center">Search for Course</h2>
    <form action="{{ url_for('course_view') }}" method="POST" style="margin: 0 18rem;">
        <div class="form-outline my-5" style="color: white;">
            <input type="text" class="form-control" placeholder="Course ID" name="course_id">
        </div>
        <div class="my-5 text-center">
            <input type="submit" value="Search" class="btn btn-primary btn-block mb-4">
        </div>
    </form>
</section>
{% if courses %}
    <script>
        var x = document.getElementById("hid");
        x.style.display = "None";
    </script>
    <section class="about">
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Credits</th>
            </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <th scope="row">{{course.course_id}}</th>
                    <td>{{course.title}}</td>
                    <td>{{course.course_type}}</td>
                    <td>{{course.credit}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section> 
{% endif %}

{% endblock content %}